*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#toDoBoard {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #252525;
}

.container {
  width: 1200px;

  margin: 0 auto;
}

.newTaskForm__input {
  padding: 0.25em;

  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #252525;
}

.bordered--red {
  border-color: red;
  outline: red;
  color: red;
}

.backdrop {
  position: fixed;

  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.6);

  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms ease-in-out, transform 250ms ease;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #cccccc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;

  text-align: center;
}

.modal__closed {
  position: absolute;

  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  padding: 0;

  cursor: pointer;

  transition: background-color 250ms ease-in-out;
}

.modal__closed::before,
.modal__closed::after {
  content: '';

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 14px;
  height: 1.5px;
  background-color: #000000;

  transition: background-color 250ms ease-in-out;
}

.modal__closed::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__closed:hover {
  background-color: #525252;
}

.modal__closed:hover:before,
.modal__closed:hover:after {
  background-color: #ffffffb4;
}

button {
  padding: 0.5em;
  margin: 0.5em;
}

.modal__content input {
  padding: 0.25em;
  margin: 0.25em;

  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #252525;
}

.toDo__list {
  width: 50%;
  list-style: none;
}

.toDo__item--checked {
  text-decoration: line-through;
  color: #bebebe;
}

.btn__remove {
  float: right;
  padding: 0.25em;

  line-height: 1em;
  background-color: #ff9494;
  color: #a02222;
}
